/* CSS info
COLORS
light blue #00AEEF
Grey #58595B
yellow/gold #E8D379
secondary gold #B78628
medium blue #006DB8
*/

.whiteText {
  color: white;
}

.blackText{
  color: black;
}

body{
  color: white;
  
}
/* Nav/jumbrotron */

.primaryButton{
  color:black;
  background-color:#E8D379;
  border-style: none;
  }
  .navbar {
      justify-content: space-between;
  }
  .navigation {
      background-color: transparent;
  }

  .navbar-nav {
    font-family: 'Marvel';
    font-size: 14pt;
  }


  .header-section {
      background-image: url("/images/SeaSaveWaves.gif");
      height: 1037px;
      position: relative;
      width: 100%;
  }
  .supportSeas {
      position: absolute;
      bottom: 100px;
      right: 10%;
  }
  .seaLogo {
      width: 179px;
      height: 158px;      
  }
  
  .getUpdates {
      width: 113px;
      height: 63px;
      background-color: #00AEEF;
      border-style: none;
      color: black;
      font-size: 16px;
      font-family: Marvel;
      
  }
  .getUpdates:hover {
      background-color: #006DB8 !important;
  }
  .pressDonate {
      width: 113px;
      height: 63px;
      background-color: #E8D379;
      border-style: none;
      color: black;
      font-size: 16px;
      font-family: Marvel;
      margin-left: 24px;
  }
  
  .bigButton {
  width: 281px;
  height: 87px;
  border: 3px;
  border:3px solid white !important ;
  color: white;
  
  }
  .nav-link {
  color: white !important;
  }
  .pressDonate:hover {
      background-color: #006DB8 !important;
  }
  .bigButton:hover {
      background-color: #006DB8 !important;
      border-color: #006DB8;
  }
  .bigButton:active {
      border-color: white;
  }

  .Fightingfolks {
      color: white !important;
  }
  .bigButton {
      
  }
  .d-flex {
    position: absolute;
    right:40px;
}
  .nav--link {
      color: white;
      display: block;
      padding: .5rem 1rem;
      text-decoration: none;
  }
  .nav--link:hover {
      color: #00AEEF;
      text-decoration: none;
  }


  .seaLogo:hover {
    scale: 1.1;
    color: white
}

/* challenges *//* challenges *//* challenges *//* challenges *//* challenges */
.Challenges{
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 25px;
}
.challengeImg {
  scale: 80%;
}
.paddingUp {
  padding-top: 50px;
}
.paddingDown {
  padding-bottom: 50px;
}
.backgroundImage {
  background-image: url(../images/cHAllenges800X600.svg);
  background-size: 100%;
  
}
.alignCenter {
  text-align: center;
}
.alignLeft {
  text-align: left;
}

/* join our newsletter *//* join our newsletter *//* join our newsletter */
.Newsletter{
  padding-right: 50px;
}


.blue{
  background-color: #99Dff9;
}

/* SEA SAVE LEADERS *//* SEA SAVE LEADERS *//* SEA SAVE LEADERS *//* SEA SAVE LEADERS */
#leaders {
  background-color: white;
  text-align: center;
}
h1{  text-align: center;
  color: black;
  font-family: 'Marvel', sans-serif;
  font-size: 64pt;
}
h3 {text-align: center;
  color: black;
  font-family: 'Marvel', sans-serif;
  font-size: 16pt;
}
h4 {text-align: center;
  color: black;
  font-family: 'Marvel', sans-serif;
  font-size: 16pt;
}


.sectionHeading {
  text-align: center;
  color: white;
  font-family: 'Marvel', sans-serif;

}
.card {
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 24pt;
 
}

/* fancy css for cards */

:root {
  --gradient: linear-gradient(to left top, #E8D379 10%, #B78628 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 1px solid #00AEEF;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.blogButton {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.blogButton:hover, .blogButton:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
.footer{
  background: #D3F0FD;
  color:black;
  font-family: 'Marvel', sans-serif;;
}

.fa-facebook-square {
  color: black;
}

.fa-facebook-square:hover{
  color: #4267B2;
}

.fa-linkedin-square{
  color: black;
}

.fa-linkedin-square:hover {
  color: #0072B1;
}

.fa-square-instagram {
  color: black;
}

.fa-square-instagram:hover {
  color: #bc2a8d;
}

.fa-square-twitter {
  color: black;
}

.fa-square-twitter:hover {
  color: #00ACEE;
}

.fa-square-youtube {
  color: black;
}

.fa-square-youtube:hover {
  color: #C4302B;
}